.imageCard {
  width: 200px;
  height: auto;
}

.movieContent {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movieDescription {
  margin-left: 10px;
}

.subpagesList {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}

.goBackButton {
  display: inline-block;
  padding: 8px 12px;
  background-color: #ffffffb0;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goBackButton:hover {
  background-color: blue;
  color: white;
}
