.title {
  color: black;
}

.navList {
  display: flex;
  gap: 10px;
  list-style: none;

  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}
